/* 日本語フォント設定 */
body{
	font-family:  YuGothic,"游ゴシック", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
}
/* スマホでのはみ出しを調整*/
@media screen and (max-width: 768px){
body{
	word-wrap: break-word;
}
form input[type="text"]  {
   max-width: 80% !important;
}
}
